<main class="p-2">
  <h2>Your Tasks @if(tasks){({{ tasks.length }})}</h2>

  <div>
    <a routerLink="/tasks/create" class="btn btn-primary">Create Task</a>
  </div>

  <div class="pt-2">
    @if(tasks){
    <table
      datatable
      [dtOptions]="dtOptions"
      class="table table-bordered table-hover"
    >
      <thead>
        <tr>
          <th>Sno</th>
          <th>Task Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for(task of tasks; track task.id; let i = $index){
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ task.name }}</td>
          <td>
            <!-- <span class="badge bg-success" *ngIf="task.status == 'COMPLETED'">
              {{ task.status }}</span
            >
            <span class="badge bg-danger" *ngIf="task.status == 'PENDING'">
              {{ task.status }}</span
            > -->

            <app-badge
              color="success"
              value="{{ task.status }}"
              *ngIf="task.status == 'COMPLETED'"
            ></app-badge>
            <app-badge
              color="danger"
              value="{{ task.status }}"
              *ngIf="task.status == 'PENDING'"
            ></app-badge>
          </td>
          <td>
            <a routerLink="/tasks/view/{{ task.id }}" class="btn btn-secondary"
              >View</a
            >
            &nbsp;
            <a routerLink="/tasks/edit/{{ task.id }}" class="btn btn-info"
              >Edit</a
            >
            &nbsp; @if(task.status === 'PENDING'){
            <button
              type="button"
              class="btn btn-success"
              (click)="completeTask(task.id, task)"
            >
              Mark as completed
            </button>
            &nbsp; }
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteTask(task.id)"
            >
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</main>
