<main class="p-2 grid justify-center">
  <form
    class="w-96 max-sm:w-11/12 max-sm:p-1"
    [formGroup]="regForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-3xl font-bold">Register</h2>
    <div class="mb-3">
      <label for="userName" class="form-label">Name</label>
      <input
        type="text"
        class="form-input {{
          name.errors && name.touched
            ? 'invalid-input'
            : name.valid
            ? 'valid-input'
            : ''
        }}"
        id="userName"
        aria-describedby="userName"
        formControlName="name"
        placeholder="Enter name"
      />
      @if(name.errors && name.touched){
      <span class="text-red-500">
        name must contains atleast 3 characters
      </span>
      }
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-input {{
          email.errors && email.touched
            ? 'invalid-input'
            : email.valid
            ? 'valid-input'
            : ''
        }}"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
        placeholder="Enter email"
      />
      @if(email.errors && email.touched){
      <span class="text-red-500"> please enter valid email </span>
      }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-input {{
          password.errors && password.touched
            ? 'invalid-input'
            : password.valid
            ? 'valid-input'
            : ''
        }}"
        id="exampleInputPassword1"
        formControlName="password"
        placeholder="Enter password"
      />
      @if(password.errors && password.touched){
      <span class="text-red-500">
        Password must be 8-16 characters long, contain at least one uppercase
        letter, one lowercase letter, one number, and one special character.
      </span>
      }
    </div>

    <div class="mb-3">
      <label for="userRole" class="form-label">Role</label>
      <select
        name="userRole"
        id="userRole"
        class="form-input {{
          role.errors && role.touched
            ? 'invalid-input'
            : role.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="role"
      >
        <option disabled [defaultSelected]="true">---SELECT ROLE---</option>
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
      @if(role.errors && role.touched){
      <span class="text-red-500">please select the role</span>
      }
    </div>

    <button
      type="submit"
      class="btn-blue flex gap-2 items-center {{
        regForm.invalid ? 'cursor-not-allowed' : ' cursor-pointer'
      }}"
      [disabled]="regForm.invalid || isLoading"
    >
      @if(isLoading){
      <span
        class="size-5 border-4 border-gray-400 border-t-white rounded-full animate-spin"
      ></span>
      } Register
    </button>
    <div>
      <p>
        If you have an account? &nbsp;
        <span><a routerLink="/login" class="text-blue-500">Login</a></span>
      </p>
    </div>
  </form>
</main>
