<main class="p-2 grid justify-center">
  <form
    method="post"
    class="w-11/12 mx-auto"
    [formGroup]="updateForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex gap-2 items-center">
      <i
        class="bi bi-arrow-left-circle font-bold text-3xl cursor-pointer"
        (click)="goBack()"
      ></i>
      <h2 class="text-3xl font-bold">Update Task</h2>
    </div>

    <div>
      <label for="taskName" class="form-label"
        >Task Name <span class="text-red-500">*</span></label
      >
      <input
        type="text"
        name="taskName"
        id="taskName"
        class="form-input {{
          name.errors && name.touched
            ? 'invalid-input'
            : name.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="name"
        placeholder="Enter task name"
      />
      @if(name.errors && name.touched){
      <span class="text-red-500"
        >Task name must contains atleast 3 letters</span
      >
      }
    </div>

    <div>
      <label for="taskStatus" class="form-label"
        >Status <span class="text-red-500">*</span></label
      >
      <select
        name="taskStatus"
        id="taskStatus"
        class="form-input {{
          status.errors && status.touched
            ? 'invalid-input'
            : status.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="status"
      >
        <option disabled>---SELECT---</option>
        <option value="PENDING">PENDING</option>
        <option value="INPROGRESS">INPROGRESS</option>
        <option value="COMPLETED">COMPLETED</option>
      </select>
      @if(status.errors && status.touched){
      <span class="text-red-500">Please select the status of the task</span>
      }
    </div>

    <div>
      <label for="description" class="form-label">Description</label>
      <quill-editor
        [modules]="editorModules"
        theme="snow"
        class="form-input
      {{
          description.valid && description.touched && description.dirty
            ? 'valid-input'
            : ''
        }}"
        formControlName="description"
        placeholder="Enter the description..."
        classes="mt-1 rounded border"
      ></quill-editor>
    </div>

    <!-- <div>
      <label for="priority" class="form-label">Priority</label>
      <select
        name="priority"
        id="priority"
        class="form-input {{
          priority.valid && priority.touched && priority.dirty
            ? 'valid-input'
            : ''
        }}"
        formControlName="priority"
      >
        <option disabled selected>--SELECT--</option>
        <option value="LOW">LOW</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="HIGH">HIGH</option>
      </select>
    </div> -->

    <!-- <div>
      <label for="dueDate" class="form-label">Due Date</label>
      <input
        type="date"
        name="dueDate {{
          due_date.valid && due_date.touched && due_date.dirty
            ? 'valid-input'
            : ''
        }}"
        id="dueDate"
        class="form-input"
        formControlName="due_date"
      />
    </div> -->

    <div>
      <label for="assignedTo" class="form-label"
        >Assigned To <span class="text-red-500">*</span></label
      >
      <select
        name="assignedTo"
        id="assignedTo"
        class="form-input {{
          assigned_to.errors && assigned_to.touched
            ? 'invalid-input'
            : assigned_to.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="assigned_to"
      >
        <option disabled>--SELECT--</option>
        @for(user of users;track user.id){
        <option value="{{ user.id }}">
          {{ user.name }} ( {{ user.email }} )
        </option>
        }
      </select>
      @if(assigned_to.errors && (assigned_to.dirty || assigned_to.touched)){
      @if(assigned_to.errors['required']){
      <span class="text-red-500">Task assigned_to required</span>

      } }
    </div>

    <div>
      <label for="attachment" class="form-label">Attachment</label>
      @if(imgURL){ @if(imgState){
      <img src="{{ imgURL }}" alt="Image" />
      <button type="button" class="sp-btn-danger mt-2" (click)="removeImage()">
        Remove
      </button>
      } @else{
      <!-- <input
        type="file"
        name="attachment"
        id="attachment"
        class="form-input"
        (change)="onUpload($event)"
      /> -->

      <div
        class="border-2 border-dashed border-gray-300 rounded-lg p-4 flex flex-col items-center justify-center space-y-4"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
      >
        <input
          #fileInput
          type="file"
          accept="image/*"
          class="hidden"
          (change)="onFileSelected($event)"
        />
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          (click)="fileInput.click()"
          type="button"
        >
          Select Image
        </button>
        <p class="text-gray-500 text-sm">
          or drag and drop an image here or paste an image here
        </p>

        <!-- Preview section -->
        <div *ngIf="file" class="mt-4 relative flex flex-col items-center">
          <img
            [src]="file | imagePreview"
            alt="Preview"
            class="w-24 h-24 object-cover rounded"
          />
          <button
            class="absolute top-0 right-0 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeFile()"
            type="button"
          >
            X
          </button>
        </div>
      </div>
      } } @else{
      <!-- <input
        type="file"
        name="attachment"
        id="attachment"
        class="form-input"
        (change)="onUpload($event)"
      /> -->

      <div
        class="border-2 border-dashed border-gray-300 rounded-lg p-4 flex flex-col items-center justify-center space-y-4"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
      >
        <input
          #fileInput
          type="file"
          accept="image/*"
          class="hidden"
          (change)="onFileSelected($event)"
        />
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          (click)="fileInput.click()"
          type="button"
        >
          Select Image
        </button>
        <p class="text-gray-500 text-sm">
          or drag and drop an image here or paste an image here
        </p>

        <!-- Preview section -->
        <div *ngIf="file" class="mt-4 relative flex flex-col items-center">
          <img
            [src]="file | imagePreview"
            alt="Preview"
            class="w-24 h-24 object-cover rounded"
          />
          <button
            class="absolute top-0 right-0 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeFile()"
            type="button"
          >
            X
          </button>
        </div>
      </div>
      }
    </div>

    <div class="pt-2 d-flex justify-content-center">
      <button
        type="submit"
        class="btn-green {{
          updateForm.invalid ? 'cursor-not-allowed' : ' cursor-pointer'
        }}"
        [disabled]="updateForm.invalid"
      >
        Update Task
      </button>
    </div>
  </form>
</main>
