<main class="p-2 grid justify-center">
  <form
    method="post"
    class="w-96 max-sm:w-11/12 mx-auto"
    [formGroup]="updateForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-3xl font-bold">Update Task</h2>

    <div>
      <label for="taskName" class="form-label"
        >Task Name <span class="text-red-500">*</span></label
      >
      <input
        type="text"
        name="taskName"
        id="taskName"
        class="form-input {{
          name.errors && name.touched
            ? 'invalid-input'
            : name.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="name"
        placeholder="Enter task name"
      />
      @if(name.errors && name.touched){
      <span class="text-red-500"
        >Task name must contains atleast 3 letters</span
      >
      }
    </div>

    <div>
      <label for="taskStatus" class="form-label"
        >Status <span class="text-red-500">*</span></label
      >
      <select
        name="taskStatus"
        id="taskStatus"
        class="form-input {{
          status.errors && status.touched
            ? 'invalid-input'
            : status.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="status"
      >
        <option disabled>---SELECT---</option>
        <option value="PENDING">PENDING</option>
        <option value="INPROGRESS">INPROGRESS</option>
        <option value="COMPLETED">COMPLETED</option>
      </select>
      @if(status.errors && status.touched){
      <span class="text-red-500">Please select the status of the task</span>
      }
    </div>

    <div>
      <label for="description" class="form-label">Description</label>
      <quill-editor
        [modules]="editorModules"
        theme="snow"
        class="form-input
      {{
          description.valid && description.touched && description.dirty
            ? 'valid-input'
            : ''
        }}"
        formControlName="description"
        placeholder="Enter the description..."
        classes="mt-1 rounded border"
      ></quill-editor>
    </div>

    <div>
      <label for="priority" class="form-label">Priority</label>
      <select
        name="priority"
        id="priority"
        class="form-input {{
          priority.valid && priority.touched && priority.dirty
            ? 'valid-input'
            : ''
        }}"
        formControlName="priority"
      >
        <option disabled selected>--SELECT--</option>
        <option value="LOW">LOW</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="HIGH">HIGH</option>
      </select>
    </div>

    <div>
      <label for="dueDate" class="form-label">Due Date</label>
      <input
        type="date"
        name="dueDate {{
          due_date.valid && due_date.touched && due_date.dirty
            ? 'valid-input'
            : ''
        }}"
        id="dueDate"
        class="form-input"
        formControlName="due_date"
      />
    </div>

    <div>
      <label for="assignedTo" class="form-label"
        >Assigned To <span class="text-red-500">*</span></label
      >
      <select
        name="assignedTo"
        id="assignedTo"
        class="form-input {{
          assigned_to.errors && assigned_to.touched
            ? 'invalid-input'
            : assigned_to.valid
            ? 'valid-input'
            : ''
        }}"
        formControlName="assigned_to"
      >
        <option disabled>--SELECT--</option>
      </select>
      @if(assigned_to.errors && (assigned_to.dirty || assigned_to.touched)){
      @if(assigned_to.errors['required']){
      <span class="text-red-500">Task assigned_to required</span>

      } }
    </div>

    <div class="pt-2 d-flex justify-content-center">
      <button
        type="submit"
        class="btn-green {{
          updateForm.invalid ? 'cursor-not-allowed' : ' cursor-pointer'
        }}"
        [disabled]="updateForm.invalid"
      >
        Update Task
      </button>
    </div>
  </form>
</main>
