<!-- <main class="p-2 pt-4 grid justify-center items-center">
  @if(task){
  <div class="t-card w-96 max-sm:w-11/12 mx-auto">
    <div class="relative">
      <i
        class="bi bi-arrow-left-circle font-bold text-3xl text-white absolute top-1 left-1 cursor-pointer"
        (click)="goBack()"
      ></i>
      <img src="images/task{{ img }}.png" alt="Task Image" class="rounded-lg" />
    </div>
    <div class="pt-2">
      <h2 class="text-2xl font-bold">{{ task.name }}</h2>
      <span [innerHTML]="task.description">{{ task.description }}</span>
      <span class="block"><b>Created By</b> : {{ task.created_by.name }}</span>
      <span class="block"
        ><b>Assigned To</b> : {{ task.assigned_to.name }}</span
      >
      <span class="block"
        ><b>Created Date</b> : {{ task.created_at | date }}</span
      >
      <span class="block"><b>Due Date</b> : {{ task.due_date | date }}</span>
      <span class="block"
        ><b>Priority</b> : &nbsp;
        <span
          class="{{
            task.priority === 'LOW'
              ? 'vk-badge-yellow'
              : task.priority === 'HIGH'
              ? 'vk-badge-red'
              : task.priority === 'MEDIUM'
              ? 'vk-badge-lime'
              : ''
          }}"
        >
          {{ task.priority }}</span
        ></span
      >
      <span class="block">
        <b>Status</b> :
        <span
          class="font-bold {{
            task.status === 'COMPLETED' ? 'text-green-500' : 'text-yellow-400'
          }}"
        >
          {{ task.status }}</span
        >
      </span>
      <div class="pt-1 space-x-2">
        <a routerLink="/tasks/edit/{{ task.id }}" type="button" class="btn-blue"
          >Edit</a
        >
        @if(task.status === 'PENDING' || task.status ==='INPROGRESS'){
        <button
          type="button"
          class="btn-green"
          (click)="completeTask(task.id, task)"
        >
          Mark as completed
        </button>
        }
      </div>
    </div>
  </div>
  } @else {
  <p>Loading...</p>
  }
</main> -->

<main class="w-full h-full p-2">
  <h2 class="max-lg:px-10 px-14 max-sm:px-6">{{ task.name }}</h2>
  <div class="flex max-lg:flex-col justify-center gap-2 pt-2">
    <div class="w-7/12 border rounded p-2 max-lg:w-11/12 max-lg:mx-auto">
      <label class="font-bold">Description</label>
      <hr />
      <p [innerHTML]="task.description">{{ task.description }}</p>
    </div>
    <div class="w-4/12 border p-2 rounded max-lg:w-11/12 max-lg:mx-auto">
      <div class="grid pb-1">
        <label class="font-bold pb-1">Created By</label>
        <span>{{ task.created_by.name }}</span>
      </div>
      <div class="grid pb-1">
        <label class="font-bold pb-1">Assigned To</label>
        <span>{{ task.assigned_to.name }}</span>
      </div>
      <div class="grid pb-1">
        <label class="font-bold pb-1">Status</label>
        <span
          class="font-bold {{
            task.status === 'COMPLETED' ? 'text-green-500' : 'text-yellow-400'
          }}"
          >{{ task.status }}</span
        >
      </div>
      <div class="grid pb-1">
        <label class="font-bold pb-1">Priority</label>
        <span
          class="w-16 text-center {{
            task.priority === 'LOW'
              ? 'vk-badge-yellow'
              : task.priority === 'HIGH'
              ? 'vk-badge-red'
              : task.priority === 'MEDIUM'
              ? 'vk-badge-lime'
              : ''
          }}"
          >{{ task.priority }}</span
        >
      </div>
      <div class="grid pb-1">
        <label class="font-bold pb-1">Created Date</label>
        <span>{{ task.created_at | date }}</span>
      </div>
      <div class="grid pb-1">
        <label class="font-bold pb-1">Due Date</label>
        <span>{{ task.due_date | date }}</span>
      </div>
      <div class="grid pb-1">
        <label class="font-bold pb-1">Action</label>
        <div class="pt-1 space-x-2">
          <a
            routerLink="/tasks/edit/{{ task.id }}"
            type="button"
            class="btn-blue"
            >Edit</a
          >
          @if(task.status === 'PENDING' || task.status ==='INPROGRESS'){
          <button
            type="button"
            class="btn-green"
            (click)="completeTask(task.id, task)"
          >
            Mark as completed
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</main>
