<main class="p-2 row">
  <form
    method="post"
    class="col-12 mx-auto"
    [formGroup]="addForm"
    (ngSubmit)="onSubmit()"
  >
    <h2>Create Task</h2>

    <div>
      <label for="taskName" class="form-label">Task Name</label>
      <input
        type="text"
        name="taskName"
        id="taskName"
        class="form-control
      {{
          name.errors && name.touched
            ? 'is-invalid'
            : name.valid
            ? 'is-valid'
            : ''
        }}"
        placeholder="Enter task name"
        formControlName="name"
      />

      @if(name.errors && (name.dirty || name.touched)){
      @if(name.errors['required']){
      <span class="text-danger">Task name required</span>

      } @if(name.errors['minlength']){
      <span class="text-danger"
        >Task name must contains atleast
        {{ name.errors["minlength"].requiredLength }} letters</span
      >
      } }
    </div>

    <div>
      <label for="description" class="form-label">Description</label>
      <quill-editor
        class="form-control
      {{
          description.errors && description.touched
            ? 'is-invalid'
            : description.valid
            ? 'is-valid'
            : ''
        }}"
        formControlName="description"
        placeholder="Enter the description..."
        [modules]="editorModules"
        theme="snow"
        classes="rounded mt-1 border"
        customToolbarPosition="bottom"
      >
      </quill-editor>
      @if(description.errors && (description.dirty || description.touched)){
      @if(description.errors['required']){
      <span class="text-danger">Task description required</span>

      } @if(description.errors['minlength']){
      <span class="text-danger"
        >Task description must contains atleast
        {{ description.errors["minlength"].requiredLength }} letters</span
      >
      } }
    </div>

    <div class="pt-2 d-flex justify-content-center">
      <button type="reset" class="btn btn-info text-white">Reset</button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="addForm.invalid"
      >
        Add Task
      </button>
    </div>
  </form>
</main>
