<main class="p-2 grid justify-center">
  <form
    method="post"
    class="w-96 max-sm:w-11/12 mx-auto"
    [formGroup]="addForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-3xl font-bold">Create Task</h2>

    <div>
      <label for="taskName" class="form-label">Task Name</label>
      <input
        type="text"
        name="taskName"
        id="taskName"
        class="form-input
      {{
          name.errors && name.touched
            ? 'invalid-input'
            : name.valid
            ? 'vali-input'
            : ''
        }}"
        placeholder="Enter task name"
        formControlName="name"
      />

      @if(name.errors && (name.dirty || name.touched)){
      @if(name.errors['required']){
      <span class="text-red-500">Task name required</span>

      } @if(name.errors['minlength']){
      <span class="text-red-500"
        >Task name must contains atleast
        {{ name.errors["minlength"].requiredLength }} letters</span
      >
      } }
    </div>

    <div>
      <label for="description" class="form-label">Description</label>
      <quill-editor
        class="form-input
      {{
          description.errors && description.touched
            ? 'invalid-input'
            : description.valid
            ? 'vali-input'
            : ''
        }}"
        formControlName="description"
        placeholder="Enter the description..."
        [modules]="editorModules"
        theme="snow"
        classes="rounded mt-1 border"
        customToolbarPosition="bottom"
      >
      </quill-editor>
      @if(description.errors && (description.dirty || description.touched)){
      @if(description.errors['required']){
      <span class="text-red-500">Task description required</span>

      } @if(description.errors['minlength']){
      <span class="text-red-500"
        >Task description must contains atleast
        {{ description.errors["minlength"].requiredLength }} letters</span
      >
      } }
    </div>

    <div class="pt-2 flex justify-center">
      <button type="reset" class="btn-info text-white">Reset</button>
      &nbsp;
      <button
        type="submit"
        class="btn-green {{
          addForm.invalid ? 'cursor-not-allowed' : ' cursor-pointer'
        }}"
        [disabled]="addForm.invalid"
      >
        Add Task
      </button>
    </div>
  </form>
</main>
