<main class="w-full p-2 grid justify-center">
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="w-96 max-sm:w-80">
    <h2 class="text-3xl font-bold">Login</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>

      <input
        type="email"
        class=" form-input {{
          email.errors && (email.touched || email.dirty) ? 'invalid-input' : ''
        }} {{ email.valid ? 'valid-input' : '' }}"
        placeholder="Enter email"
        formControlName="email"
      />
      <span
        class="text-red-500"
        *ngIf="email.errors && (email.touched || email.dirty)"
        >Please enter valid email</span
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-input {{
          password.errors && (password.touched || password.dirty)
            ? 'invalid-input'
            : password.valid
            ? 'valid-input'
            : ''
        }}"
        id="exampleInputPassword1"
        formControlName="password"
        placeholder="Enter password"
      />
      <span
        class="text-red-500"
        *ngIf="password.errors && (password.touched || password.dirty)"
        >Password is required</span
      >
    </div>

    <button
      type="submit"
      [disabled]="formData.invalid || isLoading"
      class="btn-blue flex gap-2 items-center {{
        formData.invalid ? 'cursor-not-allowed' : ' cursor-pointer'
      }}"
    >
      @if(isLoading){
      <span
        class="size-5 border-4 border-gray-400 border-t-white rounded-full animate-spin"
      ></span>
      } Login
    </button>
    <!-- <div>
      <p class="">
        If you don't have an account? &nbsp;
        <span
          ><a routerLink="/register" class="text-blue-600">Register</a></span
        >
      </p>
    </div> -->
  </form>
</main>
