<main class="p-2">
  <h2>All Tasks @if(tasks){({{ tasks.length }})}</h2>

  <div>
    <!-- <a routerLink="/tasks/create" class="btn btn-primary">Create Task</a> -->

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Create Task
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create Task</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              method="post"
              class="col-12 mx-auto"
              [formGroup]="addForm"
              (ngSubmit)="onSubmit()"
            >
              <div>
                <label for="taskName" class="form-label">Task Name</label>
                <input
                  type="text"
                  name="taskName"
                  id="taskName"
                  class="form-control
      {{
                    name.errors && name.touched
                      ? 'is-invalid'
                      : name.valid
                      ? 'is-valid'
                      : ''
                  }}"
                  placeholder="Enter task name"
                  formControlName="name"
                />

                @if(name.errors && (name.dirty || name.touched)){
                @if(name.errors['required']){
                <span class="text-danger">Task name required</span>

                } @if(name.errors['minlength']){
                <span class="text-danger"
                  >Task name must contains atleast
                  {{ name.errors["minlength"].requiredLength }} letters</span
                >
                } }
              </div>

              <div>
                <label for="description" class="form-label">Description</label>
                <quill-editor
                  class="form-control
      {{
                    description.errors && description.touched
                      ? 'is-invalid'
                      : description.valid
                      ? 'is-valid'
                      : ''
                  }}"
                  formControlName="description"
                  placeholder="Enter the description..."
                  [modules]="editorModules"
                  theme="snow"
                  classes="rounded mt-1 border"
                  customToolbarPosition="bottom"
                >
                </quill-editor>
                @if(description.errors && (description.dirty ||
                description.touched)){ @if(description.errors['required']){
                <span class="text-danger">Task description required</span>

                } @if(description.errors['minlength']){
                <span class="text-danger"
                  >Task description must contains atleast
                  {{ description.errors["minlength"].requiredLength }}
                  letters</span
                >
                } }
              </div>

              <div class="pt-2 d-flex justify-content-center">
                <div class="modal-footer">
                  <button type="reset" class="btn btn-info text-white">
                    Reset
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="addForm.invalid"
                  >
                    Add Task</button
                  ><button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-2">
    @if(tasks){
    <table
      datatable
      [dtOptions]="dtOptions"
      class="table table-bordered table-hover"
      *ngIf="tasks.length > 0"
    >
      <thead>
        <tr>
          <th>Sno</th>
          <th>Task Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for(task of tasks; track task.id; let i = $index){
        <tr>
          <td>{{ i + 1 }}</td>
          <td [innerHTML]="task.name">{{ task.name }}</td>
          <td>
            <app-badge
              color="success"
              value="{{ task.status }}"
              *ngIf="task.status == 'COMPLETED'"
            ></app-badge>
            <app-badge
              color="danger"
              value="{{ task.status }}"
              *ngIf="task.status == 'PENDING'"
            ></app-badge>
          </td>
          <td>
            <a routerLink="/tasks/view/{{ task.id }}" class="btn btn-secondary"
              >View</a
            >
            &nbsp;
            <a routerLink="/tasks/edit/{{ task.id }}" class="btn btn-info"
              >Edit</a
            >
            &nbsp; @if(task.status === 'PENDING'){
            <button
              type="button"
              class="btn btn-success"
              (click)="completeTask(task.id, task)"
            >
              Mark as completed
            </button>
            &nbsp; }
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteTask(task.id, task)"
            >
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</main>
