@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
.btn-super {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn-super:hover {
  border: 1px solid white;
}

.btn-super:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.btn-styled {
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #1c1c1c, #6220fb);
  border: 0 solid;
  overflow: hidden;
}

.btn-styled:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

.form-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}
.form-input {
  @apply bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.valid-input {
  @apply bg-green-50 border border-green-500 text-green-900 dark:text-green-400 placeholder-green-700 dark:placeholder-green-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500;
}

.invalid-input {
  @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500;
}

.btn-blue {
  @apply text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center   disabled:from-blue-400 disabled:via-blue-400 disabled:to-blue-500 no-underline;
}

.btn-green {
  @apply text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center   disabled:from-green-400 disabled:via-green-400 disabled:to-green-500 no-underline;
}

.btn-red {
  @apply text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center   disabled:from-red-400 disabled:via-red-400 disabled:to-red-500 no-underline;
}

.btn-info {
  @apply text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center   disabled:from-teal-400 disabled:via-teal-400 disabled:to-teal-500 no-underline;
}

.btn-purple {
  @apply text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center   disabled:from-purple-400 disabled:via-purple-400 disabled:to-purple-500 no-underline;
}

.t-card {
  @apply block p-4 bg-white border border-gray-200 rounded-lg shadow hover:shadow-md hover:scale-105 transition-all duration-500 ease-linear dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
}

.animate-start {
  animation: animate-start 1.5s ease-in-out forwards;
}

@keyframes animate-start {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.dataTables_wrapper .dataTables_filter input {
  @apply border border-gray-300 rounded px-4 py-2 text-gray-700 focus:outline-none focus:border-blue-400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  @apply bg-gray-200 text-gray-700 px-3 py-1 rounded mx-1 hover:bg-blue-400 hover:text-white;
}

.dataTables_wrapper .dataTables_length select {
  @apply border border-gray-300 rounded px-2 py-1 text-gray-700;
}

.dataTables_wrapper {
  @apply mt-6;
}

.dataTables_filter input {
  @apply border rounded-lg px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.dataTables_paginate .paginate_button {
  @apply bg-gray-200 rounded-lg px-4 py-2 mx-1 hover:bg-blue-600 hover:text-white;
}

.dataTables_length select {
  @apply border border-gray-300 rounded-lg px-2 py-1 text-sm focus:ring-2 focus:ring-blue-500;
}

.dataTables_info {
  @apply text-sm text-gray-500;
}

.table-hover-t > tbody > tr:hover > * {
  @apply bg-gray-100 text-blue-600 cursor-pointer;
}

.table-t {
  @apply table;
}
